{% if user.is_authenticated %}
  <a href="{% url 'blogLogout' %}">Salir</a>
  <a href="{% url 'blogCreate' %}">Nuevo Blog</a>
  <a href="{% url 'blog_profile' user.id %}">Perfil {{user.username}}</a>
{% else %}
  <a href="{% url 'blogLogin' %}">Entrar</a>
  <a href="{% url 'signup' %}">Crear Cuenta</a>
{% endif %}



{% if object_list %}
    {% for blog in object_list %}
    <li>
        
        <a href="{% url 'blogDetail' ProyectoApp.id %}">{{ProyectoApp.titulo}}</a>
        {% if user.is_authenticated %}
          <a href="{% url 'blogDelete' ProyectoApp.id %}">Borrar</a>
          <a href="{% url 'blogUpdate' ProyectoApp.id %}">Actualizar</a>
        {% endif %}
    </li>
    {% endfor %}
{% else %}
  <h1> No hay blogs</h1>
{% endif %}