<!DOCTYPE html>
<html >
<head>
    <title>Blog Multitopic</title>
    <style>

        html {
            font-family:'Montserrat', sans-serif;
        }
        
        body {
            margin: 0;
            background-color: #efefef;
        }
        
        header {
            background-color: #364552;
            color: white;
            padding: 2rem 3rem;
        
        }
         header {
             font-size: 2 rem ;
             text-align: center;
         }

           
    </style>
  
</head>
<body>
    <header>
        <h1>Bienvenidos a Blog Multitopic</h1>
    </header>
    
    <h3>¡Podes hablar de lo que sea! Tenemos una gran comunidad</h3>

    <p>Si no tenes cuenta, hacé click en el enlace de abajo</p>
    
    <a href="{% url 'signup' %}">Crear una cuenta nueva</a>
    
    <p>Si tenes cuenta, logeate acá</p>

    <a href="{% url 'blogLogin' %}">Entrar</a>

    <p>Si queres saber un poco más de nosotros, entrá acá</p>
    
    <a href="{% url 'about' %}">About us</a>

</head>


</body>
</html>